.training_img_div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.prof_list_div {
    margin-left: 2em;
}
h4 {
    padding-left: 20px;
    color: rgb(78, 37, 37);
}