.training_img_div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.prof_list_div {
    margin-left: 2em;
}
.auto_answer_form {
    padding-left: 20px;
    color: rgb(78, 37, 37);
}
.login_form_div {
    padding-left: 40px;
    margin: 0;
    width: 70%;
}