{% extends "base.html" %}

{% block title %}
    <title>Аварийный доступ</title>
{% endblock %}


{% block content %}
    <div class="login_form_div">
        <h1><img src="{{ url_for('static', filename='img/MARS-2-7.png') }}">Аварийный доступ</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.astronaut_id.label }}<br>
                {{ form.astronaut_id(class="form-control") }}<br>
                {% for error in form.astronaut_id.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.astronaut_password.label }}<br>
                {{ form.astronaut_password(class="form-control", type="password") }}<br>
                {% for error in form.astronaut_password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.captain_id.label }}<br>
                {{ form.captain_id(class="form-control") }}<br>
                {% for error in form.captain_id.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>
                {{ form.captain_password.label }}<br>
                {{ form.captain_password(class="form-control", type="password") }}<br>
                {% for error in form.captain_password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}